<h1><%=@gossips.title%></h1>

<p>Auteur : <%= link_to "#{@gossips.user.first_name} #{@gossips.user.last_name}", author_path(@gossips.user.id)%></p>
<p>Cree le <%=@gossips.created_at%></p>
<p><%= @gossips.content%></p>